*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
.Rproj.user

# Ignore image files
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.tiff
**/*.svg
**/*.webp


# Ignore compressed files
**/*.zip

**/*.tar
**/*.tar.gz
**/*.tgz
**/*.tar.bz2
**/*.tbz2
**/*.tar.xz
**/*.txz
**/*.rar
**/*.7z
**/*.gz
**/*.bz2
**/*.xz
**/*.lz
**/*.lzma
**/*.Z
**/*.zst



# Ignore common LaTeX auxiliary files
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
**/*.blg
**/*.nav
**/*.snm
**/*.vrb
**/*.auxlock
**/*.md5

# Ignore qmd output directories
*_cache/
*_files/

# Mac .DS_Store files
.DS_Store

# ignore .o or .so files
*.o
*.so

# ignore CRAN-SUBMISSION 
CRAN-SUBMISSION
cran-comments.md
inst/doc


